*
{
    margin: 0;
    padding: 0;
}
body,html{
  width : 100%;
  height: 100%;
  background-color: black;
}
#main
{
    position: relative;
    width: 100%;
    height : 100%;
    overflow: hidden;
    margin: 0 auto;
}
#loader
{
    position: absolute;
    width : 100%;
    height: 100%;
    z-index: 10;
}
#loader-top
{
    width: 100%;
    height: 30%;
    background-color: #ffd700;
}
#loader-bottom
{
    width: 100%;
    height: 30%;
    background-color: #ffd700;

}
#loader-middle
{
    position: relative;
    width: 100%;
    height: 40%;
    background-color: #ccac00;
}
#logo
{
    position: relative;
    width: 160px;
    height: 160px;
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
#cards
{
    width: 45%;
    height: 45%;
    margin: 0 auto;
}
.card
{
    position: relative;
    width: 10.2%;
    height: 70%;
    margin: 30px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}
#goldenfloptext
{
    color : white;
    font-size: 50px;
    position: relative;
    font-family: monospace;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
#goldenfloptext a
{
    display: inline-block;
    text-shadow: 1px 1px 1px silver;
}
#goldenfloptext a:first-child
{
    width: 100%;
    margin-top: 80px;
    margin-bottom: 10px;
}
#loader-bottom #text
{
    padding-top: 5px;
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: xx-large;
}

#content
{
    width: 100%;
    height: 100%;
    background-color: gold;
}
#circles-container
{
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 5%;
}
#circles {
    margin: 0 auto;
    width: 40%;
    height: 100%;
    left: 30%;
}
.circle
{
    width: 14%;
    height: 100%;
    border-radius: 100%;
    background-color: black;
    display: inline-block;
    margin-left: 4%;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 50px 15px black;
}
.circle a
{
  text-align: center;
  width: 100%;
}
.enable-btn
{
    background-color: darkgoldenrod;
    box-shadow: 1px 1px 10px 10px yellow;
}
.circle a
{
    position: absolute;
    width: 100%;
    top : 38%;
    color: gold;
    text-align: center;
    font-size: 100%;;
}
header
{
    width: 100%;
    height: 12%;
    position: absolute;
}

#head-login-box
{
    width: 15%;
    height: 120%;
    overflow: hidden;
    position: absolute;
    margin: 10px;
    border-radius: 6px;
    right: 0;
}
#head-login-box div
{
    z-index: 1;
}
#login-btn
{
    width: 45%;
    height: 50%;
    background-color: yellowgreen;
    color : darkgoldenrod;
    border-radius: 6px;
    position: absolute;
    top: 10%;
    right: 5%;
    text-align: center;
    cursor: pointer;
}
#login-btn a
{
    position: absolute;
    top : 30%;
    width: 100%;
    left: 0;
}
#register-top-btn
{
    width: 92%;
    height: 25%;
    background-color: darkred;
    color: darkgoldenrod;
    border-radius: 6px;
    position: absolute;
    bottom: 5%;
    left : 3%;
    text-align: center;
    cursor: pointer;
}
#register-top-btn a
{
    position: absolute;
    width: 100%;
    top : 12%;
    left: 0;
    text-align: center;
}
#back-shadow
{
    z-index: 0 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    opacity: 0.4;
}
.headinput
{
    width: 100%;
    position: relative;
    border-radius: 6px;
}
#password
{
}
#input-username ,#input-password
{
    position: relative;
    width: 40%;
    margin: 10px;
}
#site-logo
{
    position: absolute;
    top: 0;
    left: -2.2%;
    margin: 10px;
    width: 25%;
    float: left;
    height: 70%;
    background-image: url("../images/logo2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#home
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/vinegar.png");
    min-height: 100%;
    width: 100%;
    height: 100%;
}
#viewer
{
  width: 100%;
  height : 60%;
  position: absolute;
  top : 10%;
  overflow: visible;
}
.viewer-box
{
  position: relative;
  margin: 0 auto;
  height: 110%;
  width: 55%;
  border-radius: 6px;
  overflow: hidden;
}
#viewer-box-back
{
  position: absolute;
  height: 110%;
  width: 55%;
  background-color: black;
  opacity: 0.7;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px black;
}
