#profile-bottom
{
    width : 100%;
    height: 8%;
    position: absolute;
    bottom: -3px;
}
.profile-bottom-btn
{
    position: relative;
    width: 32.5%;
    height: 100%;
    background-color: #4cc4ff;
    border-radius: 6px 6px 0 0 ;
    display: inline-block;
    cursor: pointer;
}
.profile-bottom-btn a
{
    text-align: center;
    position: absolute;
    width: 100%;
    top : 20%;
}
.profile-bottom-btn:hover{
    box-shadow: inset 1px 1px 80px white;
}
#profile-image
{
    position: absolute;
    width: 18%;
    height: 35%;
    top : 5%;
    left : 2.5%;
}
#profile-image-viewer{
    position: relative;
    background-position : center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 95%;
}
#edit-profile-image
{
    position: relative;
    width: 100%;
    height: 15%;
    background-color: silver;
    cursor: pointer;
    text-align: center;
}

#profile-details
{
    width: 50%;
    height: 39%;
    position: absolute;
    top: 5%;
    left : 25%;
}

#messages-box
{
    width: 30%;
    height: 78%;
    position: absolute;
    right : 0;
    top : 6%;
}
#messages-box #messages-handle
{
    position: absolute;
    cursor: pointer;
    border-radius: 6px 0 0 6px;
    background-color: red;
    cursor: pointer;
    right: 0;
    height: 100%;
    width: 15%;
}
#messages-box #messages
{
    width: 100%;
    height: 100%;
    background-color: green;
    display: none;
}
#messages-close-handle
{
    height: 100%;
    width: 10%;
    position: absolute;
    left: 0;
    background-color: red;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}